<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshbduncan.adobeillustrator</string>
	<key>connections</key>
	<dict>
		<key>36C516D0-6422-44C6-9DBF-4681FB989628</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFF1E5E6-43BF-4E73-9E33-0D9573CE40F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4159A63A-0385-4E76-AAA0-C8C534FF1471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFE3CE18-F442-4BB2-9DDD-81505ACD71B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>848A8FD6-0B1D-4ACC-93FD-C0C93E441F01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A746F553-E212-4657-949C-8463EED81C01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8606FBD3-49BA-4327-8D32-A525DF148DF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA4ABDEF-6F8D-4129-B460-4785AC9DCD56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C923F32-35AB-49B8-A539-E9D10610232E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>848A8FD6-0B1D-4ACC-93FD-C0C93E441F01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A746F553-E212-4657-949C-8463EED81C01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8E036D5-E421-468B-A107-AA5B623F9032</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFE3CE18-F442-4BB2-9DDD-81505ACD71B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C923F32-35AB-49B8-A539-E9D10610232E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA4ABDEF-6F8D-4129-B460-4785AC9DCD56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D04F6E30-A04E-466A-BB93-31A0CA21C23C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D04F6E30-A04E-466A-BB93-31A0CA21C23C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>815BCD48-830E-4A13-A18B-EFAFC241C557</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4BE05A9-6CC6-4659-B278-0101D757C040</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F932E394-7B19-48DA-AA07-D44830F2992A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D99300FE-311D-49E5-A8C4-F51DB963A131</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4BE05A9-6CC6-4659-B278-0101D757C040</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8E036D5-E421-468B-A107-AA5B623F9032</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36C516D0-6422-44C6-9DBF-4681FB989628</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2190F7A2-CD3B-4B60-A777-A5B22A1B5C0A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8606FBD3-49BA-4327-8D32-A525DF148DF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40147351-3972-44DD-BE84-71DF3B3E77FE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D99300FE-311D-49E5-A8C4-F51DB963A131</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA36E0A6-7659-47D5-B41C-8CA4803B3864</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A1773DE-E132-4B12-9709-7CD7FCFF3B4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F932E394-7B19-48DA-AA07-D44830F2992A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA128582-8BA8-48B4-A15A-BB41EA442F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Duncan</string>
	<key>description</key>
	<string>Quickly access menu commands, tools, and more.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Adobe Illustrator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const app = Application("com.adobe.illustrator");
  const version = app.version();
  return version.toString()
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C923F32-35AB-49B8-A539-E9D10610232E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4159A63A-0385-4E76-AAA0-C8C534FF1471</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Quickly access menu commands, tools, and more...</string>
				<key>text</key>
				<string>Adobe Illustrator Command Palette</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AFE3CE18-F442-4BB2-9DDD-81505ACD71B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>AI_VERSION</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>848A8FD6-0B1D-4ACC-93FD-C0C93E441F01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your commands have been updated.</string>
				<key>title</key>
				<string>Commands Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DFF1E5E6-43BF-4E73-9E33-0D9573CE40F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./update_commands.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36C516D0-6422-44C6-9DBF-4681FB989628</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./user_actions.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Run User Action...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D04F6E30-A04E-466A-BB93-31A0CA21C23C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript &lt;&lt;EOF
tell application "Adobe Illustrator"
    activate
    do javascript "$1"
end tell
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>815BCD48-830E-4A13-A18B-EFAFC241C557</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=$(pwd)
osascript &lt;&lt;EOF
tell application "Adobe Illustrator"
    do javascript file "$d/js/userActions.jsx"
end tell
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8606FBD3-49BA-4327-8D32-A525DF148DF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>USER_ACTIONS</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BA4ABDEF-6F8D-4129-B460-4785AC9DCD56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update-commands</string>
						<key>outputlabel</key>
						<string>Update Commands</string>
						<key>uid</key>
						<string>2190F7A2-CD3B-4B60-A777-A5B22A1B5C0A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>user-actions</string>
						<key>outputlabel</key>
						<string>Actions</string>
						<key>uid</key>
						<string>40147351-3972-44DD-BE84-71DF3B3E77FE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>recent-files</string>
						<key>outputlabel</key>
						<string>Recent Files</string>
						<key>uid</key>
						<string>DA36E0A6-7659-47D5-B41C-8CA4803B3864</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F8E036D5-E421-468B-A107-AA5B623F9032</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Illustrator menus and tools...</string>
				<key>script</key>
				<string>./main.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Adobe Illustrator Command Palette</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A746F553-E212-4657-949C-8463EED81C01</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./recent_files.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Recent File...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F932E394-7B19-48DA-AA07-D44830F2992A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=$(pwd)
osascript &lt;&lt;EOF
tell application "Adobe Illustrator"
    do javascript file "$d/js/recentFiles.jsx"
end tell
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D99300FE-311D-49E5-A8C4-F51DB963A131</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Adobe Illustrator" $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA128582-8BA8-48B4-A15A-BB41EA442F17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>RECENT_FILES</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4BE05A9-6CC6-4659-B278-0101D757C040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript &lt;&lt;EOF
tell application "Adobe Illustrator"
    activate
    do javascript "$1"
end tell
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A1773DE-E132-4B12-9709-7CD7FCFF3B4B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Adobe Illustrator

Quickly access menu commands, tools, and more directly from Alfred.

## Features

- Menu Commands
- Tool Commands
- User Actions
- Recent Files
- Update Commands

## Usage

Type `ai` in Alfred to launch the Adobe Illustrator Command Palette (the keyword is configurable in the workflow settings).

Pick one of the available options:

- **Menu Commands** — Execute any Illustrator menu command (e.g. `Object &gt; Expand`, `Type &gt; Create Outlines`).
- **Tool Commands** — Switch to any Illustrator tool by name.
- **User Actions** — Run a saved Action from your Illustrator Actions panel.
- **Recent Files** — Open a recently used Illustrator file.
- **Update Commands** — Download the latest menu and tool command lists from the [AiCommandPalette](https://github.com/joshbduncan/AiCommandPalette) repository.

### Updating Commands

Select **Update Commands** from the `ai` menu at any time to fetch the latest menu and tool command definitions. A notification will confirm once the update is complete.</string>
	<key>uidata</key>
	<dict>
		<key>36C516D0-6422-44C6-9DBF-4681FB989628</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>4159A63A-0385-4E76-AAA0-C8C534FF1471</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Double-click here to set a hotkey for quickly launching the command palette.</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>4A1773DE-E132-4B12-9709-7CD7FCFF3B4B</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>815BCD48-830E-4A13-A18B-EFAFC241C557</key>
		<dict>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>848A8FD6-0B1D-4ACC-93FD-C0C93E441F01</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>8606FBD3-49BA-4327-8D32-A525DF148DF3</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>9C923F32-35AB-49B8-A539-E9D10610232E</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>A746F553-E212-4657-949C-8463EED81C01</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>AFE3CE18-F442-4BB2-9DDD-81505ACD71B8</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>BA4ABDEF-6F8D-4129-B460-4785AC9DCD56</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>CA128582-8BA8-48B4-A15A-BB41EA442F17</key>
		<dict>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>D04F6E30-A04E-466A-BB93-31A0CA21C23C</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>D4BE05A9-6CC6-4659-B278-0101D757C040</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>D99300FE-311D-49E5-A8C4-F51DB963A131</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>DFF1E5E6-43BF-4E73-9E33-0D9573CE40F8</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>F8E036D5-E421-468B-A107-AA5B623F9032</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>F932E394-7B19-48DA-AA07-D44830F2992A</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ai</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default keyword to run the workflow is "ai”. You can change it here.</string>
			<key>label</key>
			<string>Workflow Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://joshbduncan.com</string>
</dict>
</plist>
